<%= link_to "+ Add Collection", new_collection_path, class: 'success button nice radius right' %>
<h3 class="subheader">List of Collections</h3>

<hr />

<div class="large-4 columns">
<% @collections.each do |c| %>
  <%= link_to c.name, collection_path(c), class: 'button expand' %><br />
<% end %>
</div>